body {
	background-color: #121212;
	color: white;
}
h1 {
	font-size: 16px;
}
.sections {
	border:none;
	margin: 20px auto;
	text-align: center;
	background-color:#212121;
	min-height:25%;
	max-height:50%;
	min-width:75%;
}
.menuBar {
	float:left;
	text-align:center;
}

