body {
	background-color: #121212;
}
h1 {
	color: white;
	font-size: 16px;
}
p {
	color: white;
	margin: 20px auto;
	text-align: center;
	background-color:#212121;
	min-height:25%;
	max-height:50%;
	min-width:75%;
	
}

