body {
	background-color: #121212;
	color: white;
}
h1 {
	font-size: 16px;
}
.sections {
	border:none;
	margin: 20px auto;
	text-align: center;
	background-color:#212121;
	min-height:25%;
	max-height:50%;
	min-width:75%;
}
.menuBar {
	background-color:#1db954;
	word-spacing:100px;
	padding-top:20px;
	min-height:50px;
	text-align:center;
}

a {
	text-decoration:none;
	text-transform:uppercase;
	color:#212121;
	border-block:solid;
	border-block-width:5px;
	border
	border-block-color:#212121;
	
}